@font-face {
    font-family: 'GemunuLibre';
    src: url(./../Fonts/GemunuLibre-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'GemunuLibre';
    src: url(./../Fonts/GemunuLibre-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'GemunuLibre';
    src: url(./../Fonts/GemunuLibre-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'GemunuLibre';
    src: url(./../Fonts/GemunuLibre-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'GemunuLibre';
    src: url(./../Fonts/GemunuLibre-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'GemunuLibre';
    src: url(./../Fonts/GemunuLibre-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'GemunuLibre';
    src: url(./../Fonts/GemunuLibre-ExtraBold.ttf);
    font-weight: 800;
}